# PYTHON FOR DATA SCIENCE

# BASICS

In [13]:
a=5 #Variable  a
b=3 #Variable b
c=a+b
print(c)

#Variable holds our Data as and when required

8

Variable can start with a _, a-z, A-Z, cannot start with DIGIT & Special characters but can contain 0-9
Always use camel notiation eg: TimeZone, MyCourses, StaringTimeOfTheCourse

In [14]:
a = "Hello World"
print("Hi, this is simple " +a+ " Program!")

#Press Shift + Enter to run the cell

Hi, this is simple Hello World Program!

In [15]:
a = 23
A = 34
print(a,A) # Variable are CASE Sensitive in nature

23 34

In [16]:
a = 25 #interger
b ="36" #This would be treated as a string because it is enclosed in " "
c = 5.2 #float

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [17]:
#Type Conversion
a = 56.3
print(a)
print(type(a))

a = int(a)
print(a)
print(type(a))

56.3
<class 'float'>
56
<class 'int'>

In [18]:
#multiple assignment
a,b = 12,121
print(b)
print(a)

#del a  #Frees up the memory
print(a)

abcd = "Hello"

121
12
12

In [19]:
%whos
#Gives the memory view of current variables in memory

print(b)

Variable   Type     Data/Info
-----------------------------
A          int      34
a          int      12
abcd       str      Hello
b          int      121
c          float    5.2
121

In [20]:
c =  24+7j
print(type)

<class 'type'>

# Operators

In [21]:
a = 24
b = 13

print(a+b) #Addition
print(a-b) #Subtarction
print(a*b) #Multiplication
print(a%b) #Gives remainder (mod) 11
print(a//b) #Gives Quotient withou decimal (floor division) 1
print(a/b) #Gives Quotient including the decimal value. 1.8461538461538463
print(a**b) #Power

37
11
312
11
1
1.8461538461538463
876488338465357824

# Difference between floor division and division

In [25]:
k = 10//3 #FLOOR DIVISION GIVES QUOTIENT WITHOUT DECIMAL
l = 10/3
print(k,l)

3 3.3333333333333335

In [4]:
a = "Hello"
b = "world"
c=a+b    #String concatenation
print(c)

Helloworld

# Default variable to store values of not explicitly declared

# Sum of Integer and floating point is always float.

In [3]:
a = 3
b = 4
print(a+b)
print(_)
%whos

7

Variable   Type    Data/Info
----------------------------
a          int     3
b          int     4

# TO MARK CELL AS MARKDOWN USE 'M'

# TO MARK CELL AS CODE USE 'C'

# USE 'A' TO CREATE A CELL ABOVE

# USE 'B' TO CREATE A CELL BELOW

#To autofill use TAB after typing the variable partially

In [5]:
a = 2
b = 3
c = ((a+b)**3)/4
print(c)

31.25

# Comparative/Relational Operations

BOOL DATATYPE IS USED FOR DECISION MAKING
A BOOL CAN BE IN TWO STATES TRUE OR FALSE
Learn truth Table for AND OR
= = True of Equal
! = True of not equal
< Less than
> Greater than
< = Less than or Equal
> = Greater than or Equal

In [6]:
print(2>3)

False

In [7]:
print(2<3)

True

In [10]:
print(2 == 2)
print(3!=5)

True
True

In [9]:
c = 4>3
print(type(c))

<class 'bool'>

In [11]:
print(3==3.0) #Decimal is discarded

True

In [14]:
x = 3
y = 4
z = 11

(x<y) and (z>y)

True

# Some useful functions

In [8]:
print(round(615.17618)) #round is a Built in function. Built in function have specific task to do.
print(round(615.17618, 1))
print(round(615.17618, 3))
print(round(4.6))

615
615.2
615.176
5

In [13]:
g = divmod(32,3) #Returns Quotient & remainder.
print(type(g))
print(g)

<class 'tuple'>
(10, 2)

In [14]:
isinstance(2,int) #checks 2 is interger or not and returns the boolean value

True

In [15]:
isinstance(3, float)

False

In [16]:
isinstance(3,(int,float)) #Checks if the value is float or int.

True

In [18]:
isinstance(2+3j, (int,float,str)) #The statement returns false, since 2+3j is a complex number and is not listed in the list

False

In [24]:
a = 2
b = 3
c = a**b
print(c)

pow(a,b)

d = 3
pow(a,b,d) #Gives quotient by dividing by d variable

8

2

In [25]:
a = input("Enter the value:")
print(type(a))

Enter the value:12
<class 'str'>

By default all input values are taken as string.

Type conversion

In [26]:
a = int(input("Enter the value:")) #Explicitly specifying the data type as interger
print(type(a))

Enter the value:12
<class 'int'>

In [31]:
a = input("Enter your name:")
a = a.split(" ")  #Splits the string when space is encountered
print(a)

Enter your name:Hafeezuddin Shaik
['Hafeezuddin', 'Shaik']

In [33]:
a = input("Enter a string")
a = a.split(",") #splits the string when a "," is encountered. 
print(a)

Enter a stringHafeezuddin, shaik
['Hafeezuddin', ' shaik']

In [40]:
a = input("Enter the string")

a = a.upper() #Returns the result in upper case
print(a)
a = a.isupper() 
print(a)

a = input("Enter the second string")
a = a.lower() #Returns the result in lower case
print(a)
a = a.islower()
print(a)

Enter the stringhi
HI
True
Enter the second stringhu
hu
True

In [47]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

# CONTROL STATEMENTS