# Python for DataScience ZeroToHero

In [13]:
a=5 #Variable  a
b=3 #Variable b
c=a+b
print(c)

#Variable holds our Data as and when required

8

Variable can start with a _, a-z, A-Z, cannot start with DIGIT & Special characters but can contain 0-9
Always use camel notiation eg: TimeZone, MyCourses, StaringTimeOfTheCourse

In [14]:
a = "Hello World"
print("Hi, this is simple " +a+ " Program!")

#Press Shift + Enter to run the cell

Hi, this is simple Hello World Program!

In [15]:
a = 23
A = 34
print(a,A) # Variable are CASE Sensitive in nature

23 34

In [16]:
a = 25 #interger
b ="36" #This would be treated as a string because it is enclosed in " "
c = 5.2 #float

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [17]:
#Type Conversion
a = 56.3
print(a)
print(type(a))

a = int(a)
print(a)
print(type(a))

56.3
<class 'float'>
56
<class 'int'>

In [18]:
#multiple assignment
a,b = 12,121
print(b)
print(a)

#del a  #Frees up the memory
print(a)

abcd = "Hello"

121
12
12

In [19]:
%whos
#Gives the memory view of current variables in memory

print(b)

Variable   Type     Data/Info
-----------------------------
A          int      34
a          int      12
abcd       str      Hello
b          int      121
c          float    5.2
121

In [20]:
c =  24+7j
print(type)

<class 'type'>

# Operators

In [21]:
a = 24
b = 13

print(a+b) #Addition
print(a-b) #Subtarction
print(a*b) #Multiplication
print(a%b) #Gives remainder (mod) 11
print(a//b) #Gives Quotient withou decimal (floor division) 1
print(a/b) #Gives Quotient including the decimal value. 1.8461538461538463
print(a**b) #Power

37
11
312
11
1
1.8461538461538463
876488338465357824

# Difference between floor division and division

In [25]:
k = 10//3 #FLOOR DIVISION GIVES QUOTIENT WITHOUT DECIMAL
l = 10/3
print(k,l)

3 3.3333333333333335

In [4]:
a = "Hello"
b = "world"
c=a+b    #String concatenation
print(c)

Helloworld

# Default variable to store values of not explicitly declared

# Sum of Integer and floating point is always float.

In [3]:
a = 3
b = 4
print(a+b)
print(_)
%whos

7

Variable   Type    Data/Info
----------------------------
a          int     3
b          int     4

# TO MARK CELL AS MARKDOWN USE 'M'

# TO MARK CELL AS CODE USE 'C'

# USE 'A' TO CREATE A CELL ABOVE

# USE 'B' TO CREATE A CELL BELOW

#To autofill use TAB after typing the variable partially

In [5]:
a = 2
b = 3
c = ((a+b)**3)/4
print(c)

31.25

# Comparative/Relational Operations

BOOL DATATYPE IS USED FOR DECISION MAKING
A BOOL CAN BE IN TWO STATES TRUE OR FALSE
Learn truth Table for AND OR
= = True of Equal
! = True of not equal
< Less than
> Greater than
< = Less than or Equal
> = Greater than or Equal

In [6]:
print(2>3)

False

In [7]:
print(2<3)

True

In [10]:
print(2 == 2)
print(3!=5)

True
True

In [9]:
c = 4>3
print(type(c))

<class 'bool'>

In [11]:
print(3==3.0) #Decimal is discarded

True

In [14]:
x = 3
y = 4
z = 11

(x<y) and (z>y)

True

# Some useful functions

In [1]:
print(round(615.17618)) #round is a Built in function. Built in function have specific task to do.
print(round(615.17618, 1))
print(round(615.17618, 3))
print(round(4.5))

615
615.2
615.176
4

In [13]:
g = divmod(32,3) #Returns Quotient & remainder.
print(type(g))
print(g)

<class 'tuple'>
(10, 2)

In [14]:
isinstance(2,int) #checks 2 is interger or not and returns the boolean value

True

In [15]:
isinstance(3, float)

False

In [16]:
isinstance(3,(int,float)) #Checks if the value is float or int.

True

In [18]:
isinstance(2+3j, (int,float,str)) #The statement returns false, since 2+3j is a complex number and is not listed in the list

False

In [24]:
a = 2
b = 3
c = a**b
print(c)

pow(a,b)

d = 3
pow(a,b,d) #Gives quotient by dividing by d variable

8

2

In [25]:
a = input("Enter the value:")
print(type(a))

Enter the value:12
<class 'str'>

By default all input values are taken as string.

Type conversion

In [26]:
a = int(input("Enter the value:")) #Explicitly specifying the data type as interger
print(type(a))

Enter the value:12
<class 'int'>

In [31]:
a = input("Enter your name:")
a = a.split(" ")  #Splits the string when space is encountered
print(a)

Enter your name:Hafeezuddin Shaik
['Hafeezuddin', 'Shaik']

In [33]:
a = input("Enter a string")
a = a.split(",") #splits the string when a "," is encountered. 
print(a)

Enter a stringHafeezuddin, shaik
['Hafeezuddin', ' shaik']

In [40]:
a = input("Enter the string")

a = a.upper() #Returns the result in upper case
print(a)
a = a.isupper() 
print(a)

a = input("Enter the second string")
a = a.lower() #Returns the result in lower case
print(a)
a = a.islower()
print(a)

Enter the stringhi
HI
True
Enter the second stringhu
hu
True

In [47]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

# CONTROL STATEMENTS

if else condition illustration

In [3]:
a = int(input("Enter number:"))
b = int(input("Enter number:"))

if a>b:
    print("A is greater than B")
if a<b:
    print("B is greater than A")
elif a==b:
    print("Both are equal")

Enter number:9
Enter number:9
Both are equal

GRADING OF MARKS

In [2]:
a = int(input("Enter the total mark"))
if a>80:
    print("A GRADE")
elif (a>60) and (a<80):
    print("B Grade")
else:
    print("c grade")

Enter the total mark89
A GRADE

In [3]:
a = 34
if a>50:
    print("a is greater than 50")
elif not(a>50):
    print("This condition is true(boolean)")

This condition is true(boolean)

# nested loops (intendation is very important)

In [7]:
a = int(input("Enter the input:"))
if a > 10:
    print("a is greater than 10")
    if a > 20:
        print("a is also greater than 20")
else:
              print("Out of specified range")

Enter the input:20
a is greater than 10

In [9]:
#single line comment
"""multiline comment"""

'multiline comment'

# TAKE A FLOATING POINT NUMBER SUCH AS 238.12, TRIM WITH DECIMAL PART AND CHECK WHEATHER IT IS A EVEN NUMBER OR NOT

In [12]:
a = float(input("Enter the number:")) #taking input as float
print(type(a)) #printing data type
a = int(a) #trimming the decimal value
if a%2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter the number:-23
<class 'float'>
Odd Number

# Loops - while -  (repeatitive task)

In [20]:
a = int(input("Enter the number:"))
n = 4
while a<n:
    print("Hello")
    n = n-1

Enter the number:1
Hello
Hello
Hello

In [24]:
a =  int(input("Enter the number"))
i = 10
while i < a:
    print("Iteration") #This statement keeps on printing till the above while condition fails
    i=i+1

Enter the number12
Iteration
Iteration

In [26]:
a =  int(input("Enter the number"))
i = 1
while i < a:
    print("Iteration") #This statement keeps on printing till the above while condition fails
    i=i+1

Enter the number3
Iteration
Iteration

In [27]:
a =  int(input("Enter the number"))
n = 10
while n > a:
    print("Iteration Number", n)
    n = n-1

Enter the number1
Iteration Number 10
Iteration Number 9
Iteration Number 8
Iteration Number 7
Iteration Number 6
Iteration Number 5
Iteration Number 4
Iteration Number 3
Iteration Number 2

In [30]:
a =  int(input("Enter the number"))
n = 10
while a < n:
    print("Iteration Number", a)
    a =a+1

Enter the number1
Iteration Number 1
Iteration Number 2
Iteration Number 3
Iteration Number 4
Iteration Number 5
Iteration Number 6
Iteration Number 7
Iteration Number 8
Iteration Number 9

In [32]:
a =  int(input("Enter the number"))
i = 1
while i<a:
    print(i**2)
    print("Print Iteration Number",i)
    i+=1

Enter the number5
1
Print Iteration Number 1
4
Print Iteration Number 2
9
Print Iteration Number 3
16
Print Iteration Number 4

In [52]:
a =  int(input("Enter the number"))
i = 1
while i<a:
    if i%2==0:
        print("i is an even number", i)
    else:
        print("This is odd number", i)
        pass
    i+=1
print("done")

Enter the number7
This is odd number 1
i is an even number 2
This is odd number 3
i is an even number 4
This is odd number 5
i is an even number 6
done

In [49]:
a =  int(input("Enter the number"))
i = 1
while i<a:
    if a%17==0:
        print("Divisible by 17")
        break  #stops iteration and comes out of loop
    else:
        print("This is else loop. The value if i is:", i)
        i+=1
        continue
print("done")

Enter the number12
This is else loop. The value if i is: 1
This is else loop. The value if i is: 2
This is else loop. The value if i is: 3
This is else loop. The value if i is: 4
This is else loop. The value if i is: 5
This is else loop. The value if i is: 6
This is else loop. The value if i is: 7
This is else loop. The value if i is: 8
This is else loop. The value if i is: 9
This is else loop. The value if i is: 10
This is else loop. The value if i is: 11
done

In [2]:
i = 1
while True:
    if i%9 !=0:
        print("This is if loop")
        i=i+1
        continue   #returns to if condition. (8 Iterations)
    else:
        print("This is else loop")
        break  #Breaks the loop and comes out of loop
print("done")

This is if loop
This is if loop
This is if loop
This is if loop
This is if loop
This is if loop
This is if loop
This is if loop
This is else loop
done

# Loops - for & Introduction to list. List are ordered and mutable.

In [63]:
a = [1,2,3,4,5]  #VARIABLE A IS A LIST
for i in a: #Iterating through each element of the list a
    print(i)

1
2
3
4
5

In [25]:
a = [ ]
for i in range(10):
    print(i)
    a.append(i**2)
print(a)

0
1
2
3
4
5
6
7
8
9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
a = [ ]
for i in range(0,24,3):
    print(i)
    a.append(i**2)
    i=i+1
print(a)

0
3
6
9
12
15
18
21
[0, 9, 36, 81, 144, 225, 324, 441]

In [6]:
b = [ ]
c = [ ]
a = [1,2,3,4,5,6,7,8,9]
for i in a:
        if i%2!=0:
            print("This is even number", i)
            b.append(i)
            
        if i%2==0:
            print("This is odd number", i)
            c.append(i)
print(b,c)

This is even number 1
This is odd number 2
This is even number 3
This is odd number 4
This is even number 5
This is odd number 6
This is even number 7
This is odd number 8
This is even number 9
[1, 3, 5, 7, 9] [2, 4, 6, 8]

In [5]:
a = [ ]
b = [ ]
for i in range(6):
        if i%2!=0:
            print("This is even number", i)
            a.append(i) #appending odd numbers in list a
            continue
            print("junk") #This will not be printed
            
        if i%2==0:
            print("This is odd number", i)
            b.append(i)  #appending even numbers in list b
            
print(a)
print(b)

This is odd number 0
This is even number 1
This is odd number 2
This is even number 3
This is odd number 4
This is even number 5
[1, 3, 5]
[0, 2, 4]

In [19]:
i = 1
while True:
    if i%13==0:
        print("Break",i)
        break
    else:
        print(i)
        i+=1
        continue
        print("This statement will be skipped")
print("This will be executed as soon as a break is triggered")

1
2
3
4
5
6
7
8
9
10
11
12
Break 13
This will be executed as soon as a break is triggered

# The Difference

# while loop runs on a condition

# for loop runs on the counter

# A PROBLEM CAN BE SOLVED USING FOR AND WHILE LOOP. 

# CHOOSE YOURS.

In [14]:
L = [ ]
J = [ ]
for i in range(10):
    J.append(i)
    i = i**2
    L.append(i)
print(L)
print(J)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
L = [ ]
for i in range(0,12,5):
    i = i**2
    L.append(i)
print(L)

[0, 25, 100]

# s is a set and is unordered in nature.

In [6]:
s = {"Apple", 45.4, "Cherry"}
for i in s:
    print(type(i))
    print(i)
else:
    print("This is end of loop")

<class 'str'>
Cherry
<class 'float'>
45.4
<class 'str'>
Apple
This is end of loop

# The below variable "s" is a set. Iteration happens from the last element of the set

In [9]:
s = {"Apple", 45.4, "Cherry"}
for i in s:
    print(type(i))
    print(i)
    break
else:
    print("This is end of loop")

<class 'str'>
Cherry

# The below variable "s" is a List. Iteration happens from the first element of the set

In [10]:
s = ["Apple", 45.4, "Cherry"]
for i in s:
    print(type(i))
    print(i)
    break
else:
    print("This is end of loop")

<class 'str'>
Apple

In [22]:
s = {"Apple", 45.4, "Cherry"}
count = 1
for i in s:
    print(i)
    count+=1
    if count==3:
        break
    else:
        pass
else:
    print("iteration completed")
print("Outside the loop")

Cherry
45.4
Outside the loop

# GUESS THE WORD GAME WITH WITHIN 4 ATTEMPTS

In [93]:
a = input("Enter your Guess:")
counter = 1
Correct_Answer = "tiger"

if a == Correct_Answer:
    print("Correct Answer")
else:
    while a!="tiger" and counter<3:
        print("Your Guess is wrong, Re-enter it again",counter)
        
        a = input("Enter your Guess:")
        counter = counter+1
        if a == Correct_Answer:
            print("Correct Answer")
            break
        if a!=Correct_Answer and counter==3:
            print("Exhausted")
            break
        else:
            print("Wrong Answer")

Enter your Guess:hih
Your Guess is wrong, Re-enter it again 1
Enter your Guess:haha
Wrong Answer
Your Guess is wrong, Re-enter it again 2
Enter your Guess:tiger
Correct Answer

In [20]:
a = input("Enter your Guess:")
Correct_answer="tiger"
counter=1
if a=="tiger":
    print("Correct Answer")
else:
    print("You have entered the wrong answer! Please give it an another try")
    while a!="tiger" and counter<4:
        a=input("Enter your guess")
        counter=counter+1
        if a=="tiger":
            print("Your Guess is correct:")
            break
        else:
            print("You have entered incorrect guess!")
    else:
        print("Limit Exhausted")

Enter your Guess:jh
You have entered the wrong answer! Please give it an another try
Enter your guessk
You have entered incorrect guess!
Enter your guessk
You have entered incorrect guess!
Enter your guessk
You have entered incorrect guess!
Limit Exhausted

In [94]:
a = input("Enter your Guess:")
Correct_answer="tiger"
counter=1
for i in range(3):
    if a==Correct_answer:
        print("Correct Answer")
        break
    else:
        print("Try Again")
        a = input("Enter your Guess:")
        counter=counter+1
        if a==Correct_answer:
            print("Correct answer")
            break 
if counter==5:
    print("Limit exhausted")

Enter your Guess:hfgkfg
Try Again
Enter your Guess:tiger
Correct answer

# Dictionaries are pair of key and values

In [32]:
D = {
    "name":"Hafeez", "age":23, "Profession":"Assistant Professor", "Dept":"CSE"
}
print(D)

{'name': 'Hafeez', 'age': 23, 'Profession': 'Assistant Professor', 'Dept': 'CSE'}

In [34]:
D = {
    "name":"Hafeez", "age":23, "Profession":"Assistant Professor", "Dept":"CSE"
}
for i in D:
    print(i,D[i])

name Hafeez
age 23
Profession Assistant Professor
Dept CSE

# CREATE A LIST WITH ELEMENTS (INT) AND ARRANGE THEM IN ASCENDING ORDER

In [55]:
L =[2, 4,19,917, -1, 81, 2, -9]

p=print(min(L))
q=print(max(L))

L.sort()
print(L)

-9
917
[-9, -1, 2, 2, 4, 19, 81, 917]

In [3]:
D = {"name":"Hafeez", "age":23, "Profession":"Assistant Professor", "Dept":"CSE"
}
L={"number":"1", "add":"240"}

for i in D:
    for j in L:
        print(i,j)

name number
name add
age number
age add
Profession number
Profession add
Dept number
Dept add

# Functions

In [4]:
def printsuccess(): #DEFINING A FUNCTION IN PYTHON USING DEF KEYWORD. printsucess() is the function name
    print("Hi")
    print("This is a function")
    print("Thats all for the day")

printsuccess() #calling the function when ever required.

Hi
This is a function
Thats all for the day

In [11]:
def Oddeven():      #DEFINING A FUNCTION USING DEF KEYWORD AND FOLLOWED BY NAME OF THE FUNCTION
    """This is docstring representation- This function does nothing but shall give you odd even calculation"""
    a = int(input("Enter the number:"))
    if a%2==0:
        print("even number")
    elif a%2!=0:
        print("odd number")

Oddeven()

Enter the number:5
odd number

A FUNCTION NAME HAS TO BE DESCRIPTIVE IN NATURE. Write documenet string for easy understanding always for easy understanding.

In [13]:
whos

Variable       Type        Data/Info
------------------------------------
D              dict        n=4
L              dict        n=2
Oddeven        function    <function Oddeven at 0x00000157E1A49160>
i              str         Dept
j              str         add
printsuccess   function    <function printsuccess at 0x00000157E1A1FEE0>

  Let us see functions with arguments

In [45]:
def printmessage(msg):
    print(msg)
printmessage("Hello")

Hello

In [6]:
def add(a,b):      #a,b are the arguments that we are supposed to pass.
    c=a+b
    return c       #return statement cannot be written outside the function

add(2,3)           #calling the function with arguments.

5

In [46]:
def sample(msg):

    if isinstance(msg, int):
        print(msg)
        print(type(msg))
    else:
        print("Your input is other than string")

sample(2)
sample("abc")

2
<class 'int'>
Your input is other than string

In [35]:
def Oddeven(a):      #DEFINING A FUNCTION USING DEF KEYWORD AND FOLLOWED BY NAME OF THE FUNCTION
    """This is docstring representation- This function does nothing but shall give you odd even calculation"""
    if a%2==0:
        print("even number")
    elif a%2!=0:
        print("odd number")

Oddeven(8)

even number

In [69]:
Oddeven?
Oddeven??

In [36]:
isinstance(2, str)

False

In [78]:
def custom(fname, lname):
    print("The give name is"  +" "+  fname  +" "+  lname)

custom("Hafeezuddin","Shaik") #calling the function with arguments

The give name is Hafeezuddin Shaik

In [77]:
def checkargs(a,b,c):
    if  isinstance(a,(int,float)) and  isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print(a+b+c)
    else:
        print("Invalid datatypes")
checkargs(2,3,4)

9

In [2]:
def ordering(c2,c3,c1):  #SEE FOR THE ORDER IN THE ARGUMENTS. Values are assigned based on the order only.
    print(c1,c2,c3)

ordering(2,3,4)

4 2 3

YOU CAN EXPLICITLY DECLARE THEM AS WELL

In [3]:
def ordering(c2,c3,c1):  #SEE FOR THE ORDER IN THE ARGUMENTS. Values are assigned based on the order only.
    print(c1,c2,c3)

ordering(c1=2,c2=3,c3=4)

2 3 4

# PASS STATEMENT

The pass statement is generally used as a placeholder i.e. when the user does not know what code to write. So user simply places pass at that line. Sometimes, pass is used when the user doesnâ€™t want any code to execute.

In [ ]:
n = 10
for i in range(n):

# pass can be used as placeholder
# when code is to added later
pass

In [13]:
a = 12   #variable outside the function
def someex():
    a=2   #variable inside the function
    print("Hello")
    print(a)
someex()
print(a)

Hello
2
12

In [17]:
def someex(a,b):
    c= a+b
    return c
    print("Hello something") #This will not be printed since return is encountered just like the break statement in loop
someex(2,3)

5

In [21]:
def somefunction(a,b):
    return(a,b)
somefunction(a=2,b=3)

(2, 3)

In [37]:
def universal(*args):            #takes n number of arguments  *args acts as a list
    sum = 0
    for i in range(len(args)):   #iterating through each element
        sum = sum+args[i]
    return sum
universal(2,3,4)

3

9

In [113]:
def universal(*args):            #takes n number of arguments  *args acts as a TUPLE
    sum = 0
    for i in range(len(args)):   #iterating through each element
        sum = sum+args[i]
        print(args[1])   #indexing as a list
    return 
universal(2,3,4)

3
3
3

9

In [41]:
def somfn(**c):     #EXPLICITLY DEFINING THE ARGUMENTS WE USE **C WHICH ACTS ACTUALLY AS A DICTIONARY
    for i in c:
        print(i,c[i])
    return
somfn(a=3,b=2, c=4)

a 3
b 2
c 4

In [14]:
def f(s=0):
    print(s)
f()

0

In [106]:
def somfn(**c):     #EXPLICITLY DEFINING THE ARGUMENTS WE USE **C WHICH ACTS ACTUALLY AS A DICTIONARY
    for i in c:
        print(i,c[i])
somfn(a=2,b=3)

a 2
b 3

In [112]:
def addfn(*c):
    for i in c:   #HERE C IS A TUPPLE
        print(i,c)
addfn(2,3,4,5,6,)

2 (2, 3, 4, 5, 6)
3 (2, 3, 4, 5, 6)
4 (2, 3, 4, 5, 6)
5 (2, 3, 4, 5, 6)
6 (2, 3, 4, 5, 6)